.background {
  background-color: #ed174b;
  width: 100%;
  height: 100%;
  padding: 0px;
}

/*input {
background-color: white !important;
}

button {
background-color: white !important;
}*/

.removeMargin {
  margin: 0;
}

.centerVert {
  margin: 0 auto;
}

h2 {
  font-family: 'Anton', sans-serif;
}

.aveTooltip {
  background-color: white;
  font-family: 'Anton', sans-serif;
  font-size: 12px;
}

md-autocomplete-wrap {
  background-color: white !important;
}

.histChart {
  width: 200px;
  height: 150px;
  margin-bottom: 18px;
  margin-top: 18px;
}

md-virtual-repeat-container {
  background-color: white !important;
}

p {
	font-family: 'Anton', sans-serif;
	font-size: 14px;
}
h1 {
  font-family: 'Anton', sans-serif;
}

.menuBarContainer {
  text-align: center;
}

.menuBarButton {
    background-color: white !important;
    border-color: black !important;
}

.compareContainer {
  max-width: 450px;
  min-height: 75px;
  height: 75px;
  position: relative;
  text-align: center;
}

.comparisonBar {
	max-width: 450px;
	height: 75px;
}

.comparisonBar.left {
	position: absolute;
	top:0;
    right: 0;
}

.comparisonBar.right {
	position: absolute;
	top:0;
    left: 0;
}

.compareButton {
  background-color: white !important;
  border-color: black !important;
  margin: auto !important;
  display: block !important;
}

.container { /* contains the table */
  font-family: Arial;
}

.table-separator {
  background-color: black;
  padding: 1px;
  border: 0px;

}

.statNumber {
  padding: auto;
  /*margin: 0px 0;*/
  list-style: none;
}

.numContainer {

}

.imgContainer {
  width: 200px;
  min-width: 200px;
}

.chartRow {
  padding-top: 30px;
}

.formContainer {
  text-align: center;
  padding-top: 23%;
  max-width: 500px;
  display: inline-block
}

.formItem {
  padding-bottom: 10px;
  text-align: right;
}

.gamesCats {
	font-family: 'Anton', sans-serif;
	font-size: 14px;
}
